{include file="common/header" /}

{assign name="role_id" value="$Think.get.role_id" /}
<div class="layui-tab-content page-tab-content">
    <div class="layui-tab-item layui-show">
<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url()}" method="get">
            <div class="layui-form-item">
                <label class="layui-form-label">用户实名状态</label>
                <div class="layui-input-inline layui-select">
                    <select name="card_status" class="field-type" type="select">
                        <option value="-1" {eq name="$Think.get.card_status" value=""}selected=selected{/eq}>请选择</option>
                        <option value="1" {eq name="$Think.get.card_status" value="1"}selected=selected{/eq}>已认证</option>
                        <option value="0" {eq name="$Think.get.card_status" value="0"}selected=selected{/eq}>未认证</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户等级</label>
                <div class="layui-input-inline layui-select">
                    <select name="role_id" class="field-type" type="select">
                        <option value="-1">请选择</option>
                        {volist name="$role_data" id="v"}
                            <option value="{$v['role_id']}" {eq name="$v['role_id']" value="$Think.get.role_id"}selected=selected{/eq} >{$v['role_name']}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">注册时间</label>
                <div class="layui-input-inline">
                    <input type="date" name="reg_time" value="{$Think.get.reg_time}" lay-verify="required" placeholder="姓名,手机号查找" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyworld" value="{$Think.get.keyworld}" lay-verify="required" placeholder="姓名,手机号查找" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <button type="submit" class="layui-btn seach-btn" >提交</button>
                </div>
            </div>

        </form>
    </div>
    <div class="layui-btn-group fl">
        <!--<a href="{:url('add')}" class="layui-btn layui-btn-primary"><i class="aicon ai-tianjia"></i>添加</a>-->
        <a data-href="{:url('status?table=user&status=1')}" class="layui-btn layui-btn-primary j-page-btns"><i class="aicon ai-qiyong"></i>启用</a>
        <a data-href="{:url('status?table=user&status=0')}" class="layui-btn layui-btn-primary j-page-btns"><i class="aicon ai-jinyong1"></i>禁用</a>
        <!-- <a data-href="{:url('delUser')}" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="aicon ai-jinyong"></i>删除</a>-->
    </div>
</div>
<form id="pageListForm">
    <div class="layui-form">
        <table class="layui-table mt10" lay-even="" lay-skin="row">
            <colgroup>
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
                <th>会员</th>
                <th>资金</th>
                <th>直属商户&间接商户</th>
            </tr>
            </thead>
            <tbody>

            {volist name="user_list" id="vo"}
            <tr>
                <td><input type="checkbox" name="ids[]" class="layui-checkbox checkbox-ids" value="{$vo['user_id']}" lay-skin="primary"></td>
                <td class="font12">
                    <img src="{if condition="$vo['picture']"}http://__ROOT_PATH__/{$vo['picture']}{else /}__ADMIN_JS__/image/avatar.png{/if}" width="60" height="60" class="fl">
                    <p class="ml10 fl"><strong class="mcolor">
                        {if condition="$vo['name']"}
                            {:substr_replace($vo['name'],'*',3,3)}
                        {else /}未认证{/if}
                    </strong>
                        <br>手机：{:substr_replace($vo['user_id'],"****",3,4)}<br>上级代理：{:substr_replace($vo['merchant_id'],"****",3,4)}</p>
                </td>
                <td class="font12">下属商户数：{$vo['underling']+$vo['indirect']}<br>交易量：{$vo['integral']}</td>
                <td class="font12">直属商户：{$vo['underling']}<br>间接商户：{$vo['indirect']}</td>

            </tr>
            {/volist}
            </tbody>
        </table>
        {$pages}
    </div>
</form>




{include file="common/footer" /}

