{include file="common/header" /}

<form class="layui-form layui-form-pane" action="{:url('')}" method="post" id="editForm">
  <div class="layui-form-item">
    <label class="layui-form-label">订单号</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-order_id" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="请输入等级名称">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">取款人</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-name" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="请输入等级名称">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">手机号</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-user_id" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="请输入等级名称">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">金额</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-order_money" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">手续费</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-service_charge" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="">
    </div>
    <div class="layui-form-mid layui-word-aux">订单手续费不足最低手续费的,已最低手续费收取。</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">服务费</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-cover_charge" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="">
    </div>
    <div class="layui-form-mid layui-word-aux">单笔订单服务费用</div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">到账金额</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-arrival_amount" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="">
    </div>
    <div class="layui-form-mid layui-word-aux">统计周期内的单日交易量</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">支付方式</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-referrer_count" disabled="disabled"
             value="银联快捷" lay-verify="required" autocomplete="off" placeholder="">
    </div>
    <div class="layui-form-mid layui-word-aux">商户下属推广人数<br/></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">订单状态</label>
    <div class="layui-input-inline w300">
      <input type="text" class="layui-input field-order_status" disabled="disabled"
             value="" lay-verify="required" autocomplete="off" placeholder="">
    </div>
    <div class="layui-form-mid layui-word-aux">升级条件统计周期;单位:天</div>
  </div>




  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="hidden" class="field-role_id" name="role_id" value="">
      {eq name="$data.order_status" value='NOTPAY'}
        <button data-href="{:url('delete?ids='.$data['id'])}" class="layui-btn  j-tr-del" >关闭订单</button>
      {/eq}
      <a href="{:url('orders/index')}" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a>
    </div>
  </div>
</form>
<script>
    var formData = {:json_encode($data)};
    console.log(formData);
</script>


{include file="common/footer" /}